# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.env

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# ChromaDB
backend/db/chroma/

# Screenshots (Include folder but ignore content, except gitkeep)
backend/screenshots/*
!backend/screenshots/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
